<app-home></app-home>
<div class="menu-container">
    <body>

        <section>
            <h2>1. Introdução</h2>
            <p>Este relatório tem como objetivo fornecer uma visão detalhada da solução encontrada para o projeto RobDroneGo, especificamente
                 no que diz respeito à conformidade com as normas do Regulamento Geral de Proteção de Dados (RGPD). Vai ser abordado: a recolha os dados 
                 pessoais utilizados, o tratamento a que serão sujeitos, a finalidade e fundamento desse tratamento, bem como o responsável 
                 pelo tratamento.</p>
        </section>
    
        <section>
            <h2>2. Dados Pessoais Utilizados</h2>
            <p>Os dados pessoais utilizados no âmbito do projeto RobDroneGo incluem informações relacionadas aos utilizadores do sistema, 
                tais como nome, endereço de e-mail e informações de contacto. Além disso, para a execução de tarefas específicas, podem ser 
                recolhidos dados sobre a localização dos utentes, dados de navegação dos robots e drones, e, em casos específicos, imagens 
                para tarefas de vigilância.</p>
        </section>
    
        <section>
            <h2>3. Tratamento dos Dados</h2>
            <p>O tratamento dos dados pessoais envolve a recolha, registo, organização, estruturação,
                armazenamento, adaptação ou alteração, recuperação, consulta e utilização.</p>
            <p>Os dados são tratados de forma a garantir a sua segurança e integridade, sendo aplicadas medidas técnicas e organizativas 
                apropriadas para proteger os dados contra o acesso não autorizado, divulgação, alteração e destruição.</p>
        </section>
    
        <section>
            <h2>4. Finalidade e Fundamento do Tratamento</h2>
            <p>A finalidade principal do tratamento dos dados pessoais é permitir a execução de tarefas requisitadas pelos utentes do campus 
                do ISEP. Isso inclui o registo de utentes, a requisição de tarefas, o planeamento de percursos para robots e drones, e a 
                visualização 3D do campus. O fundamento legal para este tratamento baseia-se na execução de um contrato (artigo 6.º, alínea b,
                 do RGPD), uma vez que o tratamento é necessário para a execução do serviço solicitado pelos utentes.</p>
            <p>Para tarefas específicas, como vigilância de segurança, o tratamento pode ser fundamentado no interesse legítimo do responsável
                 pelo tratamento (artigo 6.º, alínea f, do RGPD), garantindo, no entanto, a devida ponderação dos direitos e interesses dos 
                 titulares de dados.</p>
        </section>
    
        <section>
            <h2>5. Responsável pelo Tratamento</h2>
            <p>O responsável pelo tratamento dos dados pessoais no âmbito do projeto RobDroneGo somos
                nós, identificado como tal na política de privacidade do sistema. Este responsável é encarregado de
                assegurar que todos os tratamentos de dados pessoais estão em conformidade com o RGPD e outras
                leis de proteção de dados aplicáveis. .</p>
        </section>

        <section>
            <h2>6. Direito à Retirada do Consentimento</h2>
            <p>O utilizador tem o direito de revogar o consentimento para o tratamento dos seus dados
                pessoais a qualquer momento, sem prejudicar a legalidade do tratamento anterior à retirada. A
                transparência na informação sobre as implicações da retirada do consentimento, como a limitação de
                certas funcionalidades, é fundamental para manter a conformidade com as regulamentações e
                reforçar o compromisso do projeto com a privacidade e os direitos do utilizador. Este enfoque reforça
                o compromisso contínuo do projeto RobDroneGo em aderir estritamente às diretrizes do RGPD,
                garantindo práticas éticas e respeito pela privacidade dos titulares dos dados.</p>
        </section>
    
        <section>
            <h2>Conclusão</h2>
            <p>O projeto RobDroneGo está empenhado em garantir que o tratamento de dados pessoais é realizado em conformidade com as normas
                 do RGPD, respeitando os direitos e privacidade dos titulares de dados. Este relatório fornece uma visão clara dos dados
                  utilizados, do tratamento a que estão sujeitos, da finalidade e fundamento desse tratamento, e do responsável pelo
                   tratamento.</p>
        </section>
    
    </body>
</div>