<html>
    <head>
        <link rel="stylesheet" href="recolha-dados.component.css">
        <title>Recolha de dados</title>
    </head>
    <body>
        <div class="menu-container">
            <h2>Preencha os seguintes campos:</h2>
                      
            <div class="form-input">
                <label for="new-utilizador">Primeiro nome: </label>
                <input id="new-utilizador" type="text" #utilizadorPrNome="ngModel" ngModel name="utilizadorPrNome" />
                <div *ngIf="utilizadorPrNome.errors?.['required']">Primeiro nome é obrigatório</div>
            </div>
    
            <div class="form-input">
                <label for="new-utilizador">Último nome: </label>
                <input id="new-utilizador" type="text" #utilizadorUlNome="ngModel" ngModel name="utilizadorUlNome" />
                <div *ngIf="utilizadorUlNome.errors?.['required']">Último nome é obrigatório</div>
            </div>
    
            <div class="form-input">
                <label for="new-utilizador">Email: </label>
                <input id="new-utilizador" type="text" #utilizadorEmail="ngModel" ngModel name="utilizadorEmail" />
                <div *ngIf="utilizadorEmail.errors?.['required']">Email é obrigatório</div>
            </div>

            <div class="form-input">
                <label for="new-utilizador">Password: </label>
                <input id="new-utilizador-pass" type="password" #utilizadorPassword="ngModel" ngModel name="utilizadorPassword" />
                <div *ngIf="utilizadorPassword.errors?.['required']">Password é obrigatória</div>
                <div>
                    <input type="checkbox" id="showPassword" (change)="togglePasswordVisibility($event)">
                    <label for="showPassword">Mostrar senha</label>
                </div>
            </div>
    
            <div class="form-input">
                <label for="new-utilizador">Número de telefone: </label>
                <input id="new-utilizador" type="text" #utilizadorNrTel="ngModel" ngModel name="utilizadorNrTel" />
                <div *ngIf="utilizadorNrTel.errors?.['required']">Número de telefone é obrigatório</div>
            </div>

            <div class="form-input">
                <label for="new-utilizador">Número de contribuinte: </label>
                <input id="new-utilizador" type="text" #utilizadorContribuinte="ngModel" ngModel name="utilizadorContribuinte" />
                <div *ngIf="utilizadorContribuinte.errors?.['required']">Número de contribuinte é obrigatório</div>
            </div>

            <div class="form-buttons">
                <button class="registar-button" (click)="createUtilizadorUtente(utilizadorPrNome.value, utilizadorUlNome.value, utilizadorEmail.value, utilizadorPassword.value, utilizadorNrTel.value, utilizadorContribuinte.value)">Registar</button>
                <button class="registar-button" (click)="goBack()">Voltar</button>
            </div>
          
          </div>
    </body>
</html>