<html>
    <head>
        <link rel="stylesheet" href="politica-privacidade.component.css">
        <title>Política de privacidade</title>
    </head>
    <body>
        <div class="privacy-policy-popup">
            <h2>1. Introdução</h2>
            <p>Esta Política de Privacidade destina-se a fornecer informações detalhadas sobre como o RobDroneGo trata os dados pessoais no âmbito do registo de utilizadores no website, em conformidade com o Regulamento Geral de Proteção de Dados (RGPD).</p>
    
            <h2>2. Dados Pessoais Recolhidos no Registo</h2>
            <p>Ao registar-se no website do RobDroneGo, recolhemos as seguintes informações pessoais:</p>
            <ul>
                <li>Nome</li>
                <li>Endereço de e-mail</li>
                <li>Informações de contacto</li>
                <li>Número de Contribuinte</li>
            </ul>
    
            <h2>3. Tratamento dos Dados no Registo</h2>
            <p>Os dados pessoais recolhidos no registo são tratados com a finalidade de criar e gerir a conta do utilizador no RobDroneGo. O tratamento inclui a recolha, registo, organização, armazenamento e utilização desses dados, sendo implementadas medidas de segurança para proteger a informação contra acesso não autorizado.</p>
    
            <h2>4. Fundamento e Finalidade do Tratamento</h2>
            <p>O fundamento legal para o tratamento dos dados pessoais no registo do utilizador baseia-se no consentimento expresso do utilizador (artigo 6.º, alínea a, do RGPD). A finalidade do tratamento é permitir o acesso e utilização dos serviços oferecidos pelo RobDroneGo através da conta registada, bem como fornecer uma experiência personalizada.</p>
    
            <h2>5. Utilização dos Dados para Comunicação</h2>
            <p>O RobDroneGo poderá utilizar o endereço de e-mail fornecido no registo para enviar informações importantes sobre a conta, atualizações de serviço, alterações na política de privacidade ou outros comunicados relevantes. O utilizador pode optar por não receber estas comunicações não relacionadas diretamente com a execução dos serviços.</p>
    
            <h2>6. Segurança dos Dados</h2>
            <p>Implementamos medidas técnicas e organizativas adequadas para garantir a segurança dos dados pessoais dos utilizadores. Estas medidas visam prevenir o acesso não autorizado, divulgação, alteração ou destruição dos dados.</p>
    
            <h2>7. Direito à Retirada do Consentimento</h2>
            <p>O utilizador tem o direito de retirar o consentimento para o tratamento dos seus dados pessoais a qualquer momento, através das opções disponíveis na sua conta no RobDroneGo. A retirada do consentimento não afetará a legalidade do tratamento realizado antes da retirada.</p>
    
            <h2>8. Responsável pelo Tratamento dos Dados</h2>
            <p>O responsável pelo tratamento dos dados pessoais no âmbito do projeto RobDroneGo é RobDroneGo, S.A., identificado como tal na política de privacidade do sistema.</p>
    
            <h2>9. Período de Conservação</h2>
            <p>O RobDroneGo retém os seus dados pessoais apenas pelo período de tempo estritamente necessário para executar a finalidade para a qual os recolheu ou, consoante o caso, até que exerça o seu direito de oposição ou direito de apagamento. Decorrido esse período de conservação, o RobDroneGo elimina os seus dados pessoais.</p>
    
            <h2>10. Direitos dos Titulares de Dados</h2>
            <p>Ao registar-se no RobDroneGo, o utilizador tem os seguintes direitos:</p>
            <ul>
                <li>Direito de acesso à informação: pode obter a confirmação de quais os seus dados pessoais tratados pelo RobDroneGo, bem como a respetiva informação acerca das finalidades do tratamento ou dos prazos de conservação desses dados.</li>
                <li>Direito de retificação: pode pedir a alteração dos seus dados pessoais que estejam incorretos ou incompletos.</li>
                <li>Direito de apagamento: pode pedir o apagamento dos seus dados pessoais, desde que não se verifiquem imposições legais para a sua conservação.</li>
                <li>Direito de oposição: pode opor-se ou retirar o consentimento que deu anteriormente a um tratamento dos seus dados pessoais.</li>
            </ul>
    
            <h2>11. Revisão Periódica da Política de Privacidade</h2>
            <p>O RobDroneGo compromete-se a realizar revisões periódicas desta Política de Privacidade para garantir que continue a refletir as práticas atuais de tratamento de dados e esteja em conformidade com as leis e regulamentações aplicáveis. As atualizações serão comunicadas aos utilizadores através dos meios apropriados, proporcionando transparência sobre quaisquer alterações significativas. Ao continuar a utilizar os serviços do RobDroneGo após tais atualizações, os utilizadores concordam com as modificações realizadas nesta Política de Privacidade. Encorajamos os utilizadores a reverem regularmente esta política para se manterem informados sobre como os seus dados pessoais estão a ser tratados.</p>
    
            <label>
                <input type="checkbox" [(ngModel)]="consentCheckbox" />
                Confirmo que li e concordo com os termos da Política de Privacidade
            </label>
    
            <button (click)="proceed()">Prosseguir</button>
            <button (click)="cancel()"class="cancel-button">Cancelar</button>
        </div>
    </body>
</html>