<app-home></app-home>
<body>

    <div class="about-us-container">
        <h1>Sobre Nós</h1>

        <p>Bem-vindo ao RobDroneGo, a plataforma inovadora que integra drones e robots para oferecer soluções avançadas no campus do ISEP.</p>

        <p>A nossa missão é fornecer uma experiência única e eficiente para utentes, como alunos e docentes, facilitando tarefas diárias e promovendo um ambiente tecnologicamente avançado.</p>

        <h2>Objetivos Principais</h2>
        <ul>
            <li>Simplificar tarefas no campus</li>
            <li>Integrar tecnologias de drones e robots</li>
            <li>Facilitar o planeamento e execução de tarefas</li>
        </ul>

        <h2>Entre em Contato</h2>
        <p>Estamos aqui para ajudar e responder a todas as suas questões. Entre em contato conosco:</p>
        <ul>
            <li>Email: {{ email }}</li>
            <li>Telefone: +351 123 456 789</li>
        </ul>

        <p>Esperamos recebê-lo na comunidade RobDroneGo, onde a tecnologia se encontra com a eficiência.</p>
    </div>

</body>