<app-home></app-home>

<div class="container">
    <div class="menu-container">
        <div class="section-container input-section">
            <h2>Id do Edifício</h2>
            <form #elevadorForm="ngForm" (ngSubmit)="getElevadores(edificioId.value)">
                <div class="form-group">
                    <label for="new-elevador">Id: </label>
                    <input edificioId="new-elevador" type="text" #edificioId="ngModel" ngModel name="edificioId" />
                    <div *ngIf="edificioId.errors?.['required']">
                        Id é obrigatório
                    </div>
                    <br>
                    <button type="submit" class="registar-button" id="registar-button">
                        Submeter
                    </button>
                    <button class="registar-button" (click)="goBack()">Voltar</button>
                </div>
            </form>
        </div>
    </div>

    <div class="tabela-container">
        <h2>Lista de Elevadores</h2>
        <table>
            <tr>
                <th>Codigo</th>
                <th>Edificio</th>
                <th>Pisos</th>
            </tr>
            <tr *ngFor="let elevador of paginatedElevadores">
                <td>{{ elevador.codigo }}</td>
                <td>{{ elevador.edificio }}</td>
                <td>
                    <tr *ngFor="let piso of elevador.pisos">{{ piso.piso }}</tr>
                </td>
            </tr>
        </table>
        <!-- Paginação -->
        <div class="pagination-container">
            <button (click)="prevPage()" [disabled]="startIndex === 0">Anterior</button>
            <span class="page-number">Página {{ currentPage }}</span>
            <button (click)="nextPage()" [disabled]="endIndex >= elevadores.length">Próxima</button>
        </div>
    </div>
</div>