<app-home></app-home>
<div class="tabela-container">
    <h2>Lista de utentes ainda não aprovados</h2>
    <table>
        <tr>
            <th>Primeiro nome</th>
            <th>Último nome</th>
            <th>Email</th>
            <th>Número de telefone</th>
            <th>Número de Contribuinte</th>
        </tr>
        <tr *ngFor="let utilizador of paginatedUtilizadores">
            <td>{{ utilizador.firstName }}</td>
            <td>{{ utilizador.lastName }}</td>
            <td>{{ utilizador.email }}</td>
            <td>{{ utilizador.phone }}</td>
            <td>{{ utilizador.taxpayer }}</td>
        
            <td>
                <button class="registar-button" (click)="updateUtilizadorState(utilizador.email, 'aprovado')" [disabled]="utilizador.state === 'aprovado'">Aprovar</button>
                <button class="registar-button" (click)="updateUtilizadorState(utilizador.email, 'nao aprovado')" [disabled]="utilizador.state === 'nao aprovado'">Recusar</button>
            </td>
        </tr>
    </table>
    <div class="pagination-container">
        <button (click)="prevPage()" [disabled]="startIndex === 0">Anterior</button>
        <span class="page-number">Página {{ currentPage }}</span>
        <button (click)="nextPage()" [disabled]="endIndex >= utilizadores.length">Próxima</button>
    </div>
    <button class="registar-button" (click)="goBack()">Voltar</button>
</div>
